Repository numba/numba, pull requests merged in 2022-12, with the labels that each got.

#8545 Py3.11 basic support
  azure-pipelines.yml
  buildscripts/incremental/build.sh
  buildscripts/incremental/test.sh
  numba/_dispatcher.cpp
  numba/_helperlib.c
  numba/cloudpickle/__init__.py
  numba/cloudpickle/cloudpickle.py
  numba/cloudpickle/cloudpickle_fast.py
  numba/cloudpickle/compat.py
  numba/core/bytecode.py
  numba/core/byteflow.py
  numba/core/controlflow.py
  numba/core/interpreter.py
  numba/core/ir_utils.py
  numba/core/lowering.py
  numba/core/runtime/context.py
  numba/core/transforms.py
  numba/cpython/hashing.py
  setup.py
Labels: highpriority, 5 - Ready to merge, Effort - long, Python 3.11

#8624 DOC: Add guvectorize scalar return example
  .pre-commit-config.yaml
  docs/source/user/vectorize.rst
  numba/tests/doc_examples/test_examples.py
Labels: doc, 5 - Ready to merge, Effort - short

#8630 Fix #8628: Don't test math.trunc with non-float64 NumPy scalars
  numba/cuda/tests/cudapy/test_math.py
Labels: CUDA, 5 - Ready to merge

#8590 Py3.11 support continues
  numba/core/bytecode.py
  numba/core/byteflow.py
  numba/core/controlflow.py
  numba/core/interpreter.py
  numba/core/ir.py
  numba/core/overload_glue.py
  numba/np/ufunc/array_exprs.py
  numba/tests/test_analysis.py
  numba/tests/test_flow_control.py
  numba/tests/test_parfors.py
Labels: 5 - Ready to merge, Effort - long, Python 3.11

#8636 CUDA: Skip `test_ptds` on Windows
  numba/cuda/tests/cudadrv/test_ptds.py
Labels: BuildFarm Passed, CUDA, 5 - Ready to merge, Effort - short

#8579 CUDA: Add CUDA 11.8 / Hopper support and required fixes
  numba/cuda/cudadrv/nvvm.py
  numba/cuda/tests/cudadrv/test_inline_ptx.py
  numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba/cuda/tests/nocuda/test_nvvm.py
Labels: highpriority, BuildFarm Passed, CUDA, 5 - Ready to merge, Effort - medium

#8639 Python 3.11 - fix majority of remaining test failures.
  .flake8
  numba/core/bytecode.py
  numba/core/byteflow.py
  numba/core/interpreter.py
  numba/core/utils.py
  numba/cpython/hashing.py
  numba/tests/support.py
  numba/tests/test_debug.py
  numba/tests/test_exceptions.py
  numba/tests/test_extended_arg.py
  numba/tests/test_hashing.py
  numba/tests/test_ir.py
  numba/tests/test_parfors.py
Labels: 5 - Ready to merge, Effort - long, Python 3.11

#8308 CUDA: Support for multiple signatures
  docs/source/reference/jit-compilation.rst
  numba/cuda/decorators.py
  numba/cuda/simulator/api.py
  numba/cuda/simulator/kernel.py
  numba/cuda/tests/cudapy/test_dispatcher.py
Labels: highpriority, BuildFarm Passed, CUDA, 5 - Ready to merge, Effort - medium

#8418 Fixes ravel failure on 1d arrays (#5229)
  numba/cuda/cudadrv/devicearray.py
  numba/cuda/tests/cudadrv/test_array_attr.py
  numba/misc/dummyarray.py
Labels: BuildFarm Passed, CUDA, 5 - Ready to merge

#8525 Making CUDA specific datamodel manager
  numba/core/datamodel/manager.py
  numba/cuda/models.py
  numba/cuda/target.py
  numba/tests/test_datamodel.py
Labels: CUDA, 5 - Ready to merge

#8258 refactor np.where to use overload
  numba/core/typing/npydecl.py
  numba/np/arraymath.py
  numba/np/arrayobj.py
  numba/tests/test_array_methods.py
Labels: highpriority, 5 - Ready to merge, Effort - medium

#8644 Fix bare reraise support
  numba/_helperlib.c
  numba/core/byteflow.py
Labels: 5 - Ready to merge, Python 3.11

#8550 Changes how tests are split between test instances
  buildscripts/azure/azure-windows.yml
  buildscripts/incremental/test.sh
  numba/testing/__init__.py
  numba/testing/main.py
  numba/tests/test_api.py
  numba/tests/test_runtests.py
Labels: 5 - Ready to merge, Effort - medium

#8666 Updates for Python 3.8 baseline/Python 3.11 migration
  .flake8
  numba/_devicearray.cpp
  numba/_dispatcher.cpp
  numba/_dynfunc.c
  numba/core/runtime/_nrt_python.c
  numba/experimental/jitclass/_box.c
  numba/mviewbuf.c
  numba/np/ufunc/_internal.c
  numba/tests/support.py
  numba/tests/test_analysis.py
  numba/tests/test_extended_arg.py
  numba/tests/test_ir.py
  numba/tests/test_parfors.py
Labels: 5 - Ready to merge, Effort - medium

#8659 Preserve module name of jitted class
  numba/experimental/jitclass/decorators.py
  numba/tests/test_jitclasses.py
Labels: jitclass, 5 - Ready to merge

#8626 [unicode-PERF]: use optmized BM algorithm to replace the brute-force finder
  numba/cpython/unicode.py
Labels: 5 - Ready to merge, Effort - medium

#8673 Enable the CUDA simulator tests on Windows builds in Azure CI.
  buildscripts/azure/azure-windows.yml
Labels: 5 - Ready to merge, Effort - short
