Repository numba/numba, pull requests merged in 2023-10, with the labels that each got.

#9236 Fixes numba/numba#9234
  docs/source/cuda/examples.rst
  docs/source/cuda/minor_version_compatibility.rst
  docs/source/proposals/jit-classes.rst
  docs/source/user/installing.rst
  docs/source/user/parallel.rst
  docs/upcoming_changes/README.rst
Labels: 5 - Ready to merge, skip_release_notes

#9220 Support passing arbitrary flags to NVVM
  numba/cuda/cudadrv/nvvm.py
  numba/cuda/tests/cudadrv/test_nvvm_driver.py
Labels: BuildFarm Passed, CUDA, 5 - Ready to merge, Effort - short, skip_release_notes

#9141 Add support for `as_series()` from `np.polynomial.polyutils` and `polydiv()`, `polyint()`, `polyval()` from `np.polynomial.polynomial`
  .flake8
  docs/source/reference/numpysupported.rst
  docs/upcoming_changes/9141.np_support.rst
  numba/np/polynomial/polynomial_functions.py
  numba/tests/test_polynomial.py
Labels: numpy, 5 - Ready to merge, Effort - medium

#9228 Fix #9222 - Don't replace `.` with `_` in func arg names in inline closures
  docs/upcoming_changes/9222.bug_fix.rst
  numba/core/ir_utils.py
  numba/tests/test_closure.py
Labels: Pending BuildFarm, 4 - Waiting on CI, Effort - short
