Repository numba/numba, pull requests merged in 2023-07, with the labels that each got.

#9056 adding weekly meeting notes script
  maint/github_weekly_meeting.py
Labels: 5 - Ready to merge, skip_release_notes

#9050 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 5 - Ready to merge, Effort - short

#8988 support for latest CUDA driver codes #8363
  numba/cuda/cudadrv/enums.py
  numba/tests/test_enums.py
Labels: CUDA, 5 - Ready to merge, Effort - medium

#9007 CUDA: Add comparison ufunc support
  docs/source/cuda/cudapysupported.rst
  docs/upcoming_changes/9007.cuda.rst
  numba/cuda/cudadecl.py
  numba/cuda/tests/cudapy/test_ufuncs.py
  numba/cuda/ufuncs.py
Labels: CUDA, 5 - Ready to merge

#9069 Fix towncrier error due to importlib_resources upgrade
  .github/workflows/towncrier.yml
Labels: 5 - Ready to merge, Effort - short, skip_release_notes

#9037 Recognize additional functions as being pure or not having side effects.
  numba/core/ir_utils.py
  numba/tests/test_parfors.py
Labels: 5 - Ready to merge, Effort - short, skip_release_notes

#8995 Allow libraries that implement __array_ufunc__ to override DUFunc.__c…
  docs/source/reference/jit-compilation.rst
  numba/np/ufunc/dufunc.py
  numba/tests/npyufunc/test_ufuncbuilding.py
Labels: 5 - Ready to merge

#9068 Adding np.geomspace
  docs/source/reference/numpysupported.rst
  docs/upcoming_changes/9068.np_support.rst
  numba/np/arrayobj.py
  numba/tests/test_np_functions.py
Labels: numpy, 5 - Ready to merge

#9051 Add CUDA CFG support
  docs/upcoming_changes/9051.cuda.rst
  numba/cuda/codegen.py
  numba/cuda/dispatcher.py
  numba/cuda/tests/cudapy/test_inspect.py
Labels: BuildFarm Passed, CUDA, 5 - Ready to merge

#9034 CUDA libs test: Report the absolute path of the loaded libcuda.so on Linux, + other improvements
  docs/upcoming_changes/9034.cuda.rst
  numba/cuda/cudadrv/libs.py
  numba/misc/numba_sysinfo.py
Labels: CUDA, 5 - Ready to merge, Effort - medium

#9088 Fix: Issue 9063 - CUDA atomics tests failing with CUDA 12.2
  docs/upcoming_changes/9088.cuda.rst
  numba/cuda/nvvmutils.py
  numba/cuda/tests/cudapy/test_atomics.py
Labels: CUDA, 5 - Ready to merge

#9040 Remove NVVM 3.4 and CTK 11.0 / 11.1 support
  buildscripts/gpuci/axis.yaml
  buildscripts/gpuci/build.sh
  docs/source/cuda/overview.rst
  docs/source/reference/deprecation.rst
  docs/upcoming_changes/9040.cuda.rst
  numba/cuda/compiler.py
  numba/cuda/cudadrv/nvvm.py
  numba/cuda/nvvmutils.py
  numba/cuda/target.py
  numba/cuda/tests/cudadrv/test_ir_patch.py
  numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba/cuda/tests/cudapy/test_compiler.py
  numba/cuda/tests/cudapy/test_const_string.py
  numba/cuda/tests/cudapy/test_debuginfo.py
  numba/cuda/tests/cudapy/test_inspect.py
  numba/cuda/tests/cudapy/test_lineinfo.py
  numba/cuda/tests/nocuda/test_nvvm.py
Labels: BuildFarm Passed, CUDA, 5 - Ready to merge

#6647 Support prefer_literal option for intrinsic decorator
  docs/upcoming_changes/6647.change.rst
  numba/core/extending.py
  numba/core/typing/templates.py
  numba/tests/test_extending.py
Labels: 5 - Ready to merge, Effort - medium

#9085 Add tests for np.row_stack
  docs/source/reference/numpysupported.rst
  docs/upcoming_changes/9085.np_support.rst
  numba/tests/test_dyn_array.py
Labels: numpy, 5 - Ready to merge
